@import "../../styles/colors";
@import "../../styles/transitions";

.buttonMain {
  border: none;
  outline: none;
  font-size: 1.25rem;
  background: $primary-color;
  color: $text-color;
  min-width: 150px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  @include fade;

  &:hover {
    background: $primary-dark-color;
    filter: drop-shadow(0 0 5px $primary-color);
  }
}
